body, html {
  display: grid;
  height: 100vh;
  width: 100vw;
  font-family: "Roboto";
  text-align: center;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
}


/* -------------- HEADER ------------ */



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-image: url("./assets/images/sunrise.jpg");
  background-repeat: no-repeat;
  background-size: 100% 200%;
  background-position: center center;
  background-color: rgb(173, 235, 235);
  min-height: 40vh;
  align-items: center;
  justify-content: center;
  font-size: calc(14px + 2vmin);
  padding: 1%;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.App-navbar li {
  display: flex;
  float: left;
  list-style-type: none;
  font-family: "Capriola";
  padding: 30px;
  font-size: calc(10px + 2vmin);
}


.header-font {
  font-family: "Bowlby One";
}

.nav-dropdown {
  position: relative;
  display: inline-block;

}

.nav-dropdown, a{
  text-decoration: none;
  color: white;

}

.nav-dropdown, a:hover{
 color: rgb(209, 242, 235 );


}


.dropdown:hover .dropdown-content {
  margin: 5%;
  display: block;
  padding: 2%;


}



.dropdown-content {
  display: none;
  position: absolute;
  box-shadow: 0px 0px 2px 0px;
  z-index: 1;
  background-color: white;
  border-radius: 5%;

}

li .loginProfile {
  height: 70px;
  display: flex;
  float: right;

}

.loginProfile {
  margin-right: 30%;
}

.dropdown {  
  margin-left: 70%;
  margin-bottom: 5%;
}

.login {
  margin-top: 5%;

}



/* ----------- SEARCH ------------- */
.searchbar {
  border-radius: 999px;
  padding: 1%;
  margin-top: 3%;
  width: 50%;
  font-size: 11pt;
}

input {
  outline: none;
}

/* ----------- HEADER BG DIV ------------- */
.header-bg-div {
  background-color: rgb(173, 235, 235);
}



/* ----------- DASHBOARD ------------- */

.searchbar-icon  {
  color: black;
}

.dashboard-div {
  text-decoration: none;
  color: white;
  width: 100%;
}


  
 .column {
  display: inline-block;
  align-items: center;
  width: 30%;
  padding: 3%;
  

} 


.row {
  display: flex;
  
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

 .card {
  box-shadow: 2px 4px 4px 6px rgba(0, 0, 0, 0.2);
  padding: 15%;
  text-align: center;
  background-color: rgb(209, 242, 235 );
  min-width: 50px;
  display: grid;
  border-radius: 3%;
  grid-gap: 5px;
  color:  rgb( 27, 38, 49 );

} 



 .card:hover {
  transform: scale(1.04);

 }


.host-event {
  background-color: rgb( 255, 194, 13);

}


.EventsCard {
  border: solid;
  border-radius: 3%;
  display: inline-block;
  justify-content: row;
  padding: 2% 3%;
  margin: 2%;
  width: 30%;
  height: 10%;

}



.favoriteBorder {
  float: right;

}
  
.favoriteBorder > a {
  color: black;
}

.favoriteBorder > a:hover {
  color: rgb(212, 230, 241);

}



/* ----------- FORM ------------- */
form {
  display: inline-block;
  margin-top: 5%;
  max-width: 40%;
}


input {
  border-radius: 999px;
  padding: 6px;
  font-size: 11pt;

}


.register-btn {
  padding: 11px;
  font-size: 10pt;
  border-radius: 999px;  

}


.fields{
  justify-content: flex-start;
  float: left;
  padding: 5%;
}

/* ----------- ABOUT ------------- */
.AboutSection {
  margin-top: 3%;
}

.AboutSection a {
  color: rgb(0, 77, 77);

}

.AboutSection a:hover {
  color: rgb(212, 230, 241);
}

hr {
  width: 80%;
  color: silver;
}


/* ----------- FOOTER ------------- */

.footer {
  margin-top: 3%;
  padding-top: 2%;
  position: absolute;
  width: 100vw;
  font-family: "Roboto";
  background-color: rgb( 242, 243, 244);
  color:  rgb(0, 77, 77); 
  font-size: small;
}

.Credits a {
  color: rgb(0, 77, 77);

}

.footer a {
  color:  rgb(0, 77, 77);

}

.Credits a:hover {
  color: rgb(212, 230, 241);
}


/* ----------- EventGrid ------------- */



.sub-nav ul {
  display: flex;
  justify-content: space-evenly;
  color: rgb(0, 77, 77);
}
.sub-nav li {
  transition: background-color 0.3s;
  cursor: pointer;
  height: 50px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sub-nav a {
  color: rgb(0, 77, 77);
}

.sub-nav a:hover {
  color: rgb(212, 230, 241);
}

.events-grid {
  margin: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(570px, 1fr));
  grid-auto-rows: 100px;
  grid-gap: 5px;
  
}

.flip-card {
  perspective: 1000px;
  cursor: pointer;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  backface-visibility: hidden;
}

.flip-card-front {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position-y: center;
}



.flip-card-back {
  background-color: rgb(92, 138, 138);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.2rem;
  font-family: Caveat, sans-serif;
  transform: rotateY(180deg);
}

@media screen and (max-width: 1030px) {

  .events-grid {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .sub-nav a {
      font-size: 1rem;
  }
}

@media screen and (max-width: 400px) {
  .events-grid {
      margin: 30px;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .sub-nav a {
      font-size: 0.8rem;
  }
}